<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373710538733-f5qqkhv6i0afpvjg7i4en94d8riis4t6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373710538733-f5qqkhv6i0afpvjg7i4en94d8riis4t6</string>
	<key>API_KEY</key>
	<string>AIzaSyCk9fpaJIXqkLLuNhdO8Fd0ju9F555rT5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>373710538733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.modernlogintute</string>
	<key>PROJECT_ID</key>
	<string>sumnation-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>sumnation-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373710538733:ios:72ee34e8190c4c531889e4</string>
</dict>
</plist>